POSTGRES_DB=wedding_calculator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

FRONTEND_PORT=5173
BOT_PORT=8081
TELEGRAM_BOT_TOKEN=test_bot_token
